<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
    <Title>getAllStudent</Title>
  </head>
  <body>
    <h2>HTML Table</h2>

    <table>
      <tr>
        <th>studentID</th>
        <th>name</th>
        <th>birthdate</th>
        <th>japaneseLevel</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      <% for(var i=0; i < data.length; i++) { %>
      <tr>
        <td><%= data[i].studentId %></td>
        <td><%= data[i].name %></td>
        <td><%= data[i].birthdate %></td>
        <td><%= data[i].japaneseLevel %></td>
        <td><%= data[i].email %></td>
        <td>
          <a href="/api/editstudent/<%= data[i].studentId %>">
            <button type="button">Edit</button>
          </a>
          <form
            action="/api/deletestudent/<%= data[i].studentId %>?_method=DELETE"
            method="POST"
            style="display: inline"
          >
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
